* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color variables */
  --accent-color: #eaf2f5;
  --primary-text-color: #141414;
  --secondary-text-color: #007676;
  --light-text-color: #fff;
  --primary-color: #fff;
  --secondary-color: #007676;
  --alpha-secondary-color: rgba(0, 118, 118, 0.2);
  --discount-color: #e71a1c;
  --card-hover-bg-color: #f9f9f9;
  --border-color: #f9f9f9;
  --box-shadow-color: var(--accent-color);
  --shadow: rgba(0, 0, 0, 0.05);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --discount-banner-background-overlay: linear-gradient(
    rgba(0, 118, 118, 0.8),
    rgba(0, 118, 118, 0.8)
  );
  --phone-app-shadow: #c7e1eb;
  --alpha-primary-color: rgba(255, 255, 255, 0.5);
  --rating-color: #ffa800;

  /* transition curves */
  --transition-curve: cubic-bezier(0.36, -0.21, 0.16, 1.97);
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", serif;
  color: var(--primary-text-color);
  background: var(--primary-color);
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  z-index: 9;
  background: var(--accent-color);
}

.logo {
  height: 1.5rem;
}

.links_container {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: 7.5%;
}

.links {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}

.links:hover {
  color: var(--secondary-text-color);
}

.nav_extras {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.search {
  position: relative;
  width: 20vw;
  min-width: 150px;
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.search_box {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 0.9rem;
}

.search_btn {
  position: absolute;
  border: none;
  right: 0;
  width: 3rem;
  height: 100%;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
}

.cart {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--secondary-text-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
}

/* hover effect */

.cart:hover,
.locate_btn:hover {
  background: var(--alpha-secondary-color);
}

/* hero section */
#hero_section {
  min-height: 100vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-color);
}

.hero_container {
  width: 400%;
}

.hero_heading {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: var(--secondary-text-color);
}

.hero_line {
  line-height: 2rem;
  opacity: 0.75;
  margin-top: 2rem;
}

.search.location {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.2rem;
  margin: 2.5rem 0;
}

.locate_btn {
  font-size: 1.2rem;
  width: 4rem;
  transition: 0.5s;
}

.search.location .search_box {
  padding: 1rem 1.5rem;
}

.hero_action_btn_container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--light-text-color);
  background: var(--secondary-color);
  text-transform: capitalize;
}

.btn.transparent {
  background: transparent;
  border: 0.1rem solid var(--secondary-color);
  color: var(--secondary-text-color);
}

.hero_action_btn_container .or {
  color: var(--secondary-text-color);
}

.hero_img_container {
  min-width: 30rem;
  transform: scale(0.9) translateY(3rem);
  min-height: 30rem;
  position: relative;
}

.background_element,
.forground_element {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ellipse {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 0.1rem solid var(--secondary-color);
}

.ellipse:nth-child(1) {
  width: 80%;
  transform: translate(-50%, -50%) rotate(20deg);
}

.ellipse:nth-child(2) {
  width: 90%;
  transform: translate(-50%, -50%) rotate(40deg);
}

.ellipse:nth-child(3) {
  width: 90%;
  transform: translate(-50%, -50%) rotate(-20deg);
}

.hero_img {
  position: absolute;
  width: 10rem;
  border-radius: 100%;
  box-shadow: 0 1rem 1rem var(--shadow);
}
.hero_img:nth-child(1) {
  width: 20rem;
  left: -8%;
  top: -15%;
}
.hero_img:nth-child(2) {
  width: 15rem;
  right: -15%;
  top: 15%;
}

.hero_img:nth-child(3) {
  width: 15rem;
  left: 35%;
  bottom: -20%;
}
